<a href="https://colab.research.google.com/github/ivan-mihailov/LS-CS-S2/blob/main/IIM_Filled_Lecture_CS_S2_M1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Number Bases


*   Decimal
*   Binary
*   Hexadecimal

### Decimal
Decimal / Radix 10
```
10^n

0 -9

10^3 10^2 10^1 10^0
Th   H    T    U/O
0    0    0    0
2    1    5    7
```

### Binary
Binary / Radix 2
```
2^n

0 - 1

2^3 2^2 2^1 2^0
8   4   2   1
0   0   0   0
1   0   1   0 => 1 * 8 + 0 * 4 + 1 * 2 + 0 * 1 = 10 (Base 10/Decimal)
```

#### Conversion between Decimal and Binary

```
25 => mod 2 and floor div 2 until we get to 1 base
25 % 2 => 12 R1
12 % 2 => 6  R0
6 % 2 =>  3  R0
3 % 2 =>  1  R1

-->11001 (1B (from base), then R1R0R0R1 (remainders going from bottom to top))

BIN 1000001 = 'A'
HEX 41
DEC 65

63
9
111
```

### Hexadecimal
Hexadecimal / Radix 16
```
0 - 9 A - F
16^n

16^2 16^1 16^0
256s 16s   1s
 0    0    0
 0    0    1
 0    2    1 => 2 * 16 + 1 * 1 => 33 (Base 10)
 0    F    F => 15 * 16 + 15 * 1 => 255 (Base 10)
 1    0    0 => 1 * 256 + 0 * 16 + 0 * 1 => 256 (Base 10)

 ```

 #### Conversion between Binary and Hexadecimal

 ```
 10010001
 10000001
 00111100
 10101100

 Split the binary number into 2 four digit numbers, convert each to Hex and put them back together

 10010001        =>       1001   0001
                           [9]    [1]
 10010001 (Base 2)     <>     91 (Base 16)


Example with Random number:

10110101110011010101110101101010 (32-bit random number):
8s 4s 2s 1s
1  0  1  1  0101 1100 1101 0101 1101 0110 1010
 [B]        [5]  [C]  [D] [5]  [D]  [6]   [A]
 B5CD5D6A (Base 16)
 0xB5CD5D6A => 3050134890 (Base 10)
```

# Arrays

In [2]:
import array
a = array.array('I', [1, 2, 3, 4, 5])
# unsigned int a[] = {1, 2, 3, 4, 5};
print(a)
print(a[0])
"""
a[0] => a + offset * size of data type ('size') => @a + offset * size => @30200 + 0 * 1
a[1] => a + offset * size of data type ('size') => @a + offset * size => @30200 + 1 * 1

[ This is RAM representation:
 Memory Block #: Data
      30200:    00000001
      30201:    00000010
      30202:    00000011
      30203:    00000100
      30204:    00000101
]
"""

array('I', [1, 2, 3, 4, 5])
1

# Strings

*   **ASCII**
*   **UTF8 / 16**

In [3]:
print(ord('A')) # => 65
print(chr(65)) # => 'A'
print(bin(ord('A'))) # 0b1000001
print(chr(ord('A') + 1)) # => 'B'
print(chr(ord('A') + 25)) # => 'Z'
# A - Z : 65 -> 90
# a - z : 97 -> 122
# 0 - 9 : 48 -> 57

65
A
0b1000001
B
Z

In [14]:
"""
Given a string, implement a function that returns the string with all lowercase
characters.
Example 1:
Input: "LambdaSchool"
Output: "lambdaschool"
Example 2:
Input: "austen"
Output: "austen"
Example 3:
Input: "LLAMA"
Output: "llama"
*Note: You must implement the function without using the built-in method on the 
string objects in Python. Think about how character encoding works and explore
if there is a mathematical approach that you can take.*

Difference b/n ord('A') and ord('a') is difference b/n 65 and 97. 
So chr(ord('A') + 32) = 'a'

Plan:
- create a list to hold ordinal values
- iterate over all chars in string and append ord value to the list
- iterate over the ordinal list and if the value is between 64 and 91, increment
the values by 32 to change it to lowercase
- create empty string
- iterate over updated ordinal list and concat each chr of the ordinal value 
to the new string

"""
def to_lower_case(string):
  
  str_list = list(string)
  lower_str = ''

  for i in range(len(str_list)):
    str_list[i] = ord(str_list[i])
    if str_list[i] > 64 and str_list[i] < 91:
      str_list[i] += 32

    lower_str += chr(str_list[i])
  
  return lower_str

In [16]:
print(to_lower_case("LambdaSchool"))
print(to_lower_case('austen'))
print(to_lower_case("LLAMA"))

lambdaschool
austen
llama